## GrEx 3-Hotel Customers Have Their Say About Brands ##

## Part 1 ##

<h3> Steps </h3>
> 1. We are provided a zip file called 'hotelCustsSp2018.zip' which has 26 JSON files in it
> 2. Each JSON file contains TripAdvisor reviews and other information about one hotel 
> 3. Prior to using Python, we need to unzip the JSON files to a 'hotelCustsSp2018' directory on our local machine
> 4. Next, we will write a loop that creates a DataFrame for each JSON file, which will result in a list of DataFrames
> 5. Finally, we will concatenate all those DataFrames to make one summary DataFrame, clean some of the data and calculate summary statistics

In [183]:
# We need to import all our packages
import pandas as pd
import os
from pandas.io.json import json_normalize
import re
import json
from bs4 import BeautifulSoup
import numpy as np
from nltk import *
from nltk.corpus import stopwords
from nltk import word_tokenize
import string
from collections import Counter
pd.options.mode.chained_assignment = None  # default='warn'

In [184]:
# After unzipping the JSON files to our local machine, let's take a look at our hotelCustsSp2018 directory to ensure our JSON files are there 
# We can see that 26 files exist--one for each hotel
# Also, keep in mind that each file size is different which indicates there may be some irregularity with the data within the JSON files 
!dir hotelCustsSp2018 | findstr json

05/13/2018  05:55 PM            52,320 100506.json
05/13/2018  05:55 PM             1,184 1217974.json
05/13/2018  05:55 PM         1,407,821 150849.json
05/13/2018  05:55 PM           183,832 214680.json
05/13/2018  05:55 PM            59,905 240124.json
05/13/2018  05:55 PM           113,653 2515575.json
05/13/2018  05:55 PM           219,634 287670.json
05/13/2018  05:55 PM           208,767 550994.json
05/13/2018  05:55 PM               486 655424.json
05/13/2018  05:55 PM             1,005 677703.json
05/13/2018  05:55 PM           246,390 72572.json
05/13/2018  05:55 PM           123,437 72579.json
05/13/2018  05:55 PM           167,695 72586.json
05/13/2018  05:55 PM            42,330 72598.json
05/13/2018  05:55 PM            86,963 73393.json
05/13/2018  05:55 PM            46,804 73644.json
05/13/2018  05:55 PM            38,825 73706.json
05/13/2018  05:55 PM            25,246 73712.json
05/13/2018  05:55 PM            61,505 73718.json
05/13/2018  05:55 PM            50,488 73727.json
05/13/2018  05:55 PM            68,868 73739.json
05/13/2018  05:55 PM            32,583 73743.json
05/13/2018  05:55 PM            19,498 73751.json
05/13/2018  05:55 PM            32,927 73757.json
05/13/2018  05:55 PM            39,019 73760.json
05/13/2018  05:55 PM            24,764 73768.json

In [185]:
# We will save our directory path to a variable called path which will later be used in our loop
path = ".\\hotelCustsSp2018\\"

In [186]:
# Using os and our path variable, we will create a list that has the file names of all the JSON files in our directory 
file_list = os.listdir(path)
file_list

['100506.json',
 '1217974.json',
 '150849.json',
 '214680.json',
 '240124.json',
 '2515575.json',
 '287670.json',
 '550994.json',
 '655424.json',
 '677703.json',
 '72572.json',
 '72579.json',
 '72586.json',
 '72598.json',
 '73393.json',
 '73644.json',
 '73706.json',
 '73712.json',
 '73718.json',
 '73727.json',
 '73739.json',
 '73743.json',
 '73751.json',
 '73757.json',
 '73760.json',
 '73768.json']

In [187]:
# Before we make our loop, let's explore one of our JSON files -- '72572.json'
# We will use 'open' to read the JSON file and then 'load' it into a dictionary variable called jsondat
with open('.\\hotelCustsSp2018\\72572.json') as input_file:
    jsondat=json.load(input_file)

In [188]:
# Let's see the names of our dictionary keys
jsondat.keys()

dict_keys(['Reviews', 'HotelInfo'])

In [189]:
# We will explore the values of the 'HotelInfo' key 
# The values are keys since 'HotelInfo' is also a dictionary
hotel_info = jsondat['HotelInfo']
hotel_info.keys()

dict_keys(['Name', 'HotelURL', 'Price', 'Address', 'HotelID', 'ImgURL'])

In [190]:
# Now we will create our loop
# The goal is to create hotel_ratings_list which is a list of 26 DataFrames (one for each hotel)
# The first part of the loop will create the jsondat dictionary and then will create a DataFrame from jsondat using the 'json_normalize' function 
# We will use 'if' statements to add the columns we want to each DataFrame depending if the values exist in jsondat
# Lastly, we will rename some columns and then add each DataFrame to a list which will result in a list of 26 DataFrames
hotel_ratings_list = []
for file in file_list:
    with open(path+file) as input_file:
        jsondat = json.load(input_file)
        hotel_df = json_normalize(jsondat['Reviews'])
        if 'HotelID' in jsondat['HotelInfo']:
            hotel_df.insert(0, 'Hotel ID', jsondat['HotelInfo']['HotelID'])
        if 'Name' in jsondat['HotelInfo']:
            hotel_df.insert(1, 'Hotel Name', jsondat['HotelInfo']['Name'])
        if 'Address' in jsondat['HotelInfo']:
            hotel_df.insert(2, 'Hotel Address', jsondat['HotelInfo']['Address'])
        hotel_df.rename(columns={'Ratings.Business service (e.g., internet access)':'Ratings.Business service'}, inplace=True)
        hotel_df.rename(columns={'ReviewID':'Review ID'}, inplace=True)
        hotel_df.rename(columns=lambda x: re.sub(r'^Ratings.','',x),inplace=True)
        hotel_ratings_list.append(hotel_df)

In [191]:
# Check to see how many DataFrames are in hotel_ratings_list
# There should be 26 -- one for each hotel 
len(hotel_ratings_list)

26

In [192]:
# We will now combine all 26 DataFrames from the hotel_ratings_list into one DataFrame
# This DataFrame will stay with these columns in case we need to use some of the data to create a separate DataFrame later 
pre_hotel_ratings_df = pd.concat(hotel_ratings_list)

In [193]:
# Show all the columns in pre_hotel_ratings_df and the first 5 rows of data
pre_hotel_ratings_df.head(5)

,Author,AuthorLocation,Business service,Check in / front desk,Cleanliness,Content,Date,Hotel Address,Hotel ID,Hotel Name,Location,Overall,Review ID,Rooms,Service,Sleep Quality,Title,Value
0,luvsroadtrips,"Arlington, WA",NaN,NaN,1,This place is not even suitable for the homele...,"January 3, 2012","<address class=""addressReset""> <span rel=""v:ad...",100506,Hotel Seattle,5,1.0,UR122476164,1,1,1,“You've got to be kidding me??!”,1
1,estelle e,"Vancouver, Canada",NaN,NaN,4,We stayed in downtown hotel Seattle for two ni...,"December 29, 2011","<address class=""addressReset""> <span rel=""v:ad...",100506,Hotel Seattle,5,4.0,UR122239883,3,4,5,"“great service, comfortable rooms, easy stay.”",3
2,RobertEddy,"San Diego, California",NaN,NaN,2,"i made reservations and when i showed up, i qu...","December 20, 2011","<address class=""addressReset""> <span rel=""v:ad...",100506,Hotel Seattle,1,1.0,UR121931325,1,1,1,“WTF!!!!!”,1
3,James R,"Chicago, Illinois",NaN,NaN,1,This hotel is so bad it's a joke. I could bare...,"October 30, 2011","<address class=""addressReset""> <span rel=""v:ad...",100506,Hotel Seattle,1,1.0,UR119896310,1,1,1,“Do Not Stay Here”,1
4,Shobha49,"Mumbai (Bombay), India",NaN,NaN,NaN,My husband and I stayed at this hotel from 16t...,"September 14, 2011","<address class=""addressReset""> <span rel=""v:ad...",100506,Hotel Seattle,5,1.0,UR118110693,1,1,NaN,“bad experience”,3

In [194]:
# We will select some of the columns from pre_hotel_ratings_df to create a new DataFrame for further analysis 
rating_select = ['Hotel ID', 'Hotel Name', 'Hotel Address', 'Review ID', 'Business service', 'Check in / front desk', 'Cleanliness', 'Location', 'Overall', 'Rooms', 'Service', 'Sleep Quality', 'Value']
hotel_ratings_df = pre_hotel_ratings_df[rating_select]
hotel_ratings_df.head(5)

,Hotel ID,Hotel Name,Hotel Address,Review ID,Business service,Check in / front desk,Cleanliness,Location,Overall,Rooms,Service,Sleep Quality,Value
0,100506,Hotel Seattle,"<address class=""addressReset""> <span rel=""v:ad...",UR122476164,NaN,NaN,1,5,1.0,1,1,1,1
1,100506,Hotel Seattle,"<address class=""addressReset""> <span rel=""v:ad...",UR122239883,NaN,NaN,4,5,4.0,3,4,5,3
2,100506,Hotel Seattle,"<address class=""addressReset""> <span rel=""v:ad...",UR121931325,NaN,NaN,2,1,1.0,1,1,1,1
3,100506,Hotel Seattle,"<address class=""addressReset""> <span rel=""v:ad...",UR119896310,NaN,NaN,1,1,1.0,1,1,1,1
4,100506,Hotel Seattle,"<address class=""addressReset""> <span rel=""v:ad...",UR118110693,NaN,NaN,NaN,5,1.0,1,1,NaN,3

In [195]:
# Next we wil remove the html tags from the Hotel Address column using Beautiful Soup
# This code will create beautify function
def beautify(s): 
    if isinstance (s, str):
        soup=BeautifulSoup(s, 'html.parser') 
        clean_string = soup.get_text().strip() 
        return clean_string
    else:
        return s

In [196]:
# Apply the beautify function and check to see if html tags were removed
hotel_ratings_df['Hotel Address']=hotel_ratings_df['Hotel Address'].apply(beautify)
hotel_ratings_df.head(5)

,Hotel ID,Hotel Name,Hotel Address,Review ID,Business service,Check in / front desk,Cleanliness,Location,Overall,Rooms,Service,Sleep Quality,Value
0,100506,Hotel Seattle,"315 Seneca St., Seattle, WA 98101",UR122476164,NaN,NaN,1,5,1.0,1,1,1,1
1,100506,Hotel Seattle,"315 Seneca St., Seattle, WA 98101",UR122239883,NaN,NaN,4,5,4.0,3,4,5,3
2,100506,Hotel Seattle,"315 Seneca St., Seattle, WA 98101",UR121931325,NaN,NaN,2,1,1.0,1,1,1,1
3,100506,Hotel Seattle,"315 Seneca St., Seattle, WA 98101",UR119896310,NaN,NaN,1,1,1.0,1,1,1,1
4,100506,Hotel Seattle,"315 Seneca St., Seattle, WA 98101",UR118110693,NaN,NaN,NaN,5,1.0,1,1,NaN,3

In [197]:
# We need to calculate some statistics for each of the ratings categories
# However, we need to first check for incorrect values in the ratings categories
# We need to deal with the -1 values since they will skew our summary statistics
hotel_ratings_df[['Business service','Check in / front desk', 'Cleanliness', 'Location', 'Overall', 'Rooms', 'Service', 'Sleep Quality', 'Value']].apply(pd.value_counts, dropna=False)

,Business service,Check in / front desk,Cleanliness,Location,Overall,Rooms,Service,Sleep Quality,Value
NaN,1407.0,1321.0,145.0,339.0,NaN,269.0,145.0,1680.0,132.0
-1,595.0,429.0,242.0,431.0,NaN,235.0,243.0,NaN,253.0
5,139.0,331.0,951.0,953.0,328.0,554.0,932.0,315.0,860.0
3,127.0,128.0,282.0,206.0,107.0,418.0,291.0,128.0,288.0
4,120.0,184.0,587.0,430.0,300.0,618.0,564.0,233.0,603.0
2,54.0,55.0,120.0,74.0,93.0,209.0,136.0,52.0,170.0
1,43.0,37.0,158.0,52.0,59.0,182.0,174.0,77.0,179.0
5.0,NaN,NaN,NaN,NaN,542.0,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,505.0,NaN,NaN,NaN,NaN
3.0,NaN,NaN,NaN,NaN,217.0,NaN,NaN,NaN,NaN
1.0,NaN,NaN,NaN,NaN,190.0,NaN,NaN,NaN,NaN
2.0,NaN,NaN,NaN,NaN,144.0,NaN,NaN,NaN,NaN

In [198]:
# We also need to change the data types of the rating categories to float types so statistics can be calculated
# We will do this with the help of the astype method
hotel_ratings_df[['Business service','Check in / front desk', 'Cleanliness', 'Location', 'Overall', 'Rooms', 'Service', 'Sleep Quality', 'Value']]=hotel_ratings_df[['Business service','Check in / front desk', 'Cleanliness', 'Location', 'Overall', 'Rooms', 'Service', 'Sleep Quality', 'Value']].astype(float)

In [199]:
# Let's check to see if the data types for the rating categories have been updated to float type
hotel_ratings_df.dtypes

Hotel ID                  object
Hotel Name                object
Hotel Address             object
Review ID                 object
Business service         float64
Check in / front desk    float64
Cleanliness              float64
Location                 float64
Overall                  float64
Rooms                    float64
Service                  float64
Sleep Quality            float64
Value                    float64
dtype: object

In [200]:
# Let's now replace all -1 values with NaN using replace method
hotel_ratings_df['Business service'].replace(-1, np.nan, inplace=True)
hotel_ratings_df['Check in / front desk'].replace(-1, np.nan, inplace=True)
hotel_ratings_df['Cleanliness'].replace(-1, np.nan, inplace=True)
hotel_ratings_df['Location'].replace(-1, np.nan, inplace=True)
hotel_ratings_df['Overall'].replace(-1, np.nan, inplace=True)
hotel_ratings_df['Rooms'].replace(-1, np.nan, inplace=True)
hotel_ratings_df['Service'].replace(-1, np.nan, inplace=True)
hotel_ratings_df['Sleep Quality'].replace(-1, np.nan, inplace=True)
hotel_ratings_df['Value'].replace(-1, np.nan, inplace=True)

In [201]:
# Now let's check our ratings categories to see if the -1 values are replaced 
hotel_ratings_df[['Business service','Check in / front desk', 'Cleanliness', 'Location', 'Overall', 'Rooms', 'Service', 'Sleep Quality', 'Value']].apply(pd.value_counts, dropna=False)

,Business service,Check in / front desk,Cleanliness,Location,Overall,Rooms,Service,Sleep Quality,Value
1.0,43,37,158,52,249.0,182,174,77,179
2.0,54,55,120,74,237.0,209,136,52,170
3.0,127,128,282,206,324.0,418,291,128,288
4.0,120,184,587,430,805.0,618,564,233,603
5.0,139,331,951,953,870.0,554,932,315,860
NaN,2002,1750,387,770,NaN,504,388,1680,385

In [202]:
# Now we can compute summary statistics using the 'describe' method on hotel_ratings_df
# The describe method will only display statistics for the rating categories
hotel_ratings_df.describe(include=[np.number])

,Business service,Check in / front desk,Cleanliness,Location,Overall,Rooms,Service,Sleep Quality,Value
count,483.000000,735.000000,2098.000000,1715.000000,2485.000000,1981.000000,2097.000000,805.000000,2100.000000
mean,3.534161,3.975510,3.978551,4.258309,3.728370,3.582029,3.927039,3.816149,3.854762
std,1.259146,1.173945,1.222511,1.027217,1.300262,1.251246,1.258907,1.279765,1.271729
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.000000,3.000000,3.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000,4.000000
75%,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [203]:
# As one last item, we will display how many reviews were left per hotel 
hotel_ratings_df[['Hotel ID']].apply(pd.value_counts, dropna=False)

         Hotel ID
150849        710
72572         233
287670        188
214680        174
550994        167
72586         137
72579         113
2515575        96
73393          93
73739          60
73718          57
73644          54
240124         52
100506         48
73706          45
73727          44
73760          39
73757          36
72598          36
73743          32
73712          25
73768          24
73751          19
1217974         1
655424          1
677703          1

In [204]:
# Display first five rows of our final DataFrame - hotel_ratings_df
hotel_ratings_df.head(5)

,Hotel ID,Hotel Name,Hotel Address,Review ID,Business service,Check in / front desk,Cleanliness,Location,Overall,Rooms,Service,Sleep Quality,Value
0,100506,Hotel Seattle,"315 Seneca St., Seattle, WA 98101",UR122476164,NaN,NaN,1.0,5.0,1.0,1.0,1.0,1.0,1.0
1,100506,Hotel Seattle,"315 Seneca St., Seattle, WA 98101",UR122239883,NaN,NaN,4.0,5.0,4.0,3.0,4.0,5.0,3.0
2,100506,Hotel Seattle,"315 Seneca St., Seattle, WA 98101",UR121931325,NaN,NaN,2.0,1.0,1.0,1.0,1.0,1.0,1.0
3,100506,Hotel Seattle,"315 Seneca St., Seattle, WA 98101",UR119896310,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,100506,Hotel Seattle,"315 Seneca St., Seattle, WA 98101",UR118110693,NaN,NaN,NaN,5.0,1.0,1.0,1.0,NaN,3.0

## Part 2 ##

<h3> Steps </h3>
> 1. The main goal of Part 2 is to create the hotWords dictionary 
> 2. A loop will utilized to create a frequency dictionary of "content" words for each hotel 
> 3. The "content" words will come from the Content category of a DataFrame we create within the loop 
> 4. We will add our frequency dictionary of "content" words to each hotel's respective Hotel ID and then use the Hotel ID as keys in our hotWords dictionary 
> 5. At the end, we will save the hotWords dictionary into a JSON file and report the number of unique content words in each of the hotel's dicts

In [205]:
# We first will define 'get_dictionary' function which will be used within our loop to create each dictionary that will go in hotWords
# Now let's begin creating our hotWords dictionary by setting it up as an empty dictionary 
# Similar to Part 1, we created a hotel_df in the beginning part of our loop
# Our 'reviews' variable is created by concatenating all the strings in the Content column of hotel_df
# Next, we obtain our dictionary of 'content' words using 'get_dictionary'
# The last step is to create a key/value pair using the value from 'HotelID' as the key and 'word_dict' as the value
# The loop iterates 26 times to create the hotWords dictionary which will have 26 dictionaries -- one for each hotel 

def get_dictionary(text):
    tokens = word_tokenize(text)
    tokens = [w.lower() for w in tokens]
    table = str.maketrans('', '', string.punctuation)
    stripped = [w.translate(table) for w in tokens]
    # Remove non-alphabetic tokens
    words = [word for word in stripped if word.isalpha()]
    # Remove stop words from our dictionary which is one of its main strengths 
    # A weakness of our dictionary is that we didn't do any stemming so it will include 'walking' and 'walk'
    stop_words = set(stopwords.words('english'))
    words = [word for word in words if not word in stop_words]
    return dict(Counter(words).most_common())

hotWords = {}
# We also want to create 'uniqueWords' dictionary that shows how many unique words are in each dictionary
uniqueWords = {}
for file in file_list:      
    with open(path+file) as input_file:
        jsondat = json.load(input_file)
        hotel_df = json_normalize(jsondat['Reviews']) 
        reviews = hotel_df.Content.str.cat(sep=",")         
        word_dict = get_dictionary(reviews)
        unique_count = len(word_dict.keys())
        hotel_id = jsondat['HotelInfo']['HotelID']
        hotWords[hotel_id] = word_dict
        uniqueWords[hotel_id] = unique_count

In [206]:
# Check the length of hotWords dictionary to see that it has 26 keys--one for each hotel
len(hotWords)

26

In [207]:
# Print out the keys of hotWords dictionary to confirm the keys are the Hotel Ids for the 26 hotels
hotWords_keys = hotWords.keys()
list(hotWords_keys)

['100506',
 '1217974',
 '150849',
 '214680',
 '240124',
 '2515575',
 '287670',
 '550994',
 '655424',
 '677703',
 '72572',
 '72579',
 '72586',
 '72598',
 '73393',
 '73644',
 '73706',
 '73712',
 '73718',
 '73727',
 '73739',
 '73743',
 '73751',
 '73757',
 '73760',
 '73768']

In [208]:
# Let's inspect the values ('Hot Words') for Hotel ID 72572 to see an application of hotWords dictionary 
hotWords_72572 = hotWords['72572']
hotWords_72572

{'hotel': 503,
 'room': 254,
 'seattle': 202,
 'staff': 172,
 'great': 166,
 'breakfast': 160,
 'pioneer': 149,
 'square': 149,
 'stay': 139,
 'location': 109,
 'good': 105,
 'clean': 104,
 'best': 98,
 'would': 94,
 'friendly': 93,
 'nt': 91,
 'helpful': 90,
 'free': 90,
 'walk': 89,
 'us': 89,
 'one': 87,
 'nice': 86,
 'rooms': 83,
 'stayed': 83,
 'night': 82,
 'area': 81,
 'western': 77,
 'also': 76,
 'walking': 76,
 'place': 75,
 'market': 68,
 'close': 68,
 'comfortable': 67,
 'parking': 66,
 'street': 64,
 'downtown': 64,
 'blocks': 61,
 'front': 60,
 'within': 59,
 'old': 58,
 'well': 58,
 'get': 56,
 'day': 55,
 'city': 55,
 'service': 54,
 'waterfront': 53,
 'bus': 53,
 'back': 53,
 'pike': 52,
 'small': 52,
 'away': 52,
 'block': 49,
 'distance': 49,
 'restaurants': 48,
 'desk': 48,
 'located': 47,
 'large': 47,
 'nights': 45,
 'could': 44,
 'right': 44,
 'around': 44,
 'price': 43,
 'easy': 42,
 'found': 42,
 'historic': 41,
 'next': 41,
 'bed': 40,
 'little': 40,
 'quiet': 39,
 'see': 39,
 'much': 39,
 'like': 39,
 'two': 39,
 'go': 39,
 'tour': 38,
 'station': 38,
 'time': 38,
 'view': 38,
 'continental': 38,
 'recommend': 37,
 'door': 37,
 'excellent': 37,
 'trip': 36,
 'waffles': 36,
 'walked': 36,
 'wonderful': 35,
 'way': 34,
 'many': 33,
 'big': 33,
 'even': 32,
 'however': 32,
 'car': 32,
 'morning': 32,
 'hotels': 31,
 'underground': 31,
 'definitely': 31,
 'building': 30,
 'people': 30,
 'first': 30,
 'got': 30,
 'light': 29,
 'really': 29,
 'pleasant': 28,
 'etc': 27,
 'near': 27,
 'noise': 27,
 'lot': 27,
 'take': 27,
 'beautiful': 27,
 'lots': 26,
 'perfect': 25,
 'space': 25,
 'need': 25,
 'coffee': 25,
 'staying': 25,
 'enjoyed': 24,
 'nearby': 24,
 'extremely': 24,
 'never': 24,
 'everything': 23,
 'short': 23,
 'rail': 23,
 'bathroom': 23,
 'airport': 23,
 'internet': 23,
 'feel': 23,
 'cruise': 23,
 'shops': 22,
 'amtrak': 22,
 'public': 22,
 'business': 22,
 'quite': 22,
 'though': 22,
 'every': 22,
 'took': 22,
 'last': 22,
 'arrived': 22,
 'fresh': 22,
 'ferry': 21,
 'restaurant': 21,
 'train': 21,
 'made': 20,
 'included': 20,
 'town': 20,
 'water': 20,
 'part': 20,
 'garage': 20,
 'including': 20,
 'wanted': 19,
 'fruit': 19,
 'enough': 19,
 'attractions': 19,
 'eggs': 19,
 'always': 19,
 'field': 19,
 'husband': 18,
 'king': 18,
 'museum': 18,
 'visit': 18,
 'ride': 18,
 'want': 18,
 'across': 18,
 'check': 18,
 'minute': 18,
 'district': 18,
 'days': 18,
 'home': 18,
 'luggage': 18,
 'late': 18,
 'spacious': 18,
 'homeless': 18,
 'better': 18,
 'beds': 17,
 'center': 17,
 'fine': 17,
 'went': 17,
 'lobby': 17,
 'things': 17,
 'food': 17,
 'highly': 17,
 'safeco': 17,
 'felt': 17,
 'loved': 16,
 'cereal': 16,
 'transportation': 16,
 'needed': 16,
 'booked': 16,
 'make': 16,
 'wifi': 16,
 'value': 16,
 'bit': 16,
 'find': 16,
 'needle': 16,
 'convenient': 16,
 'another': 16,
 'style': 15,
 'bad': 15,
 'left': 15,
 'able': 15,
 'long': 15,
 'came': 15,
 'looking': 15,
 'park': 15,
 'ever': 15,
 'charm': 15,
 'complimentary': 15,
 'pier': 15,
 'return': 15,
 'say': 14,
 'family': 14,
 'new': 14,
 'couple': 14,
 'several': 14,
 'along': 14,
 'nothing': 14,
 'early': 14,
 'overall': 14,
 'upgraded': 14,
 'use': 14,
 'far': 14,
 'available': 14,
 'worth': 14,
 'going': 14,
 'art': 14,
 'enjoy': 13,
 'anyone': 13,
 'given': 13,
 'rate': 13,
 'italian': 13,
 'less': 13,
 'minutes': 13,
 'decor': 13,
 'shower': 13,
 'end': 13,
 'places': 13,
 'floor': 13,
 'corner': 12,
 'said': 12,
 'happy': 12,
 'reasonable': 12,
 'game': 12,
 'getting': 12,
 'elevator': 12,
 'still': 12,
 'evening': 12,
 'amenities': 12,
 'ferries': 12,
 'year': 12,
 'without': 12,
 'may': 12,
 'plenty': 12,
 'stadiums': 12,
 'something': 12,
 'directions': 12,
 'half': 12,
 'local': 12,
 'know': 12,
 'help': 12,
 'historical': 12,
 'ready': 12,
 'neighborhood': 12,
 'outside': 12,
 'think': 12,
 'older': 12,
 'times': 12,
 'experience': 12,
 'quaint': 11,
 'expensive': 11,
 'weekend': 11,
 'sure': 11,
 'almost': 11,
 'told': 11,
 'size': 11,
 'plus': 11,
 'come': 11,
 'appreciated': 11,
 'fun': 11,
 'seatac': 11,
 'per': 11,
 'second': 11,
 'interesting': 11,
 'guests': 11,
 'taxi': 11,
 'stop': 11,
 'waffle': 11,
 'person': 11,
 'hard': 11,
 'character': 11,
 'bagels': 11,
 'asked': 11,
 'modern': 11,
 'least': 11,
 'fantastic': 11,
 'everyone': 10,
 'shopping': 10,
 'fact': 10,
 'choice': 10,
 'noisy': 10,
 'full': 10,
 'traffic': 10,
 'extra': 10,
 'bw': 10,
 'pikes': 10,
 'travel': 10,
 'high': 10,
 'although': 10,
 'liked': 10,
 'bars': 10,
 'inside': 10,
 'side': 10,
 'thank': 10,
 'since': 10,
 'issue': 10,
 'three': 10,
 'cab': 10,
 'yogurt': 10,
 'certainly': 10,
 'love': 10,
 'spent': 10,
 'history': 10,
 'checked': 10,
 'terrific': 10,
 'hot': 10,
 'money': 10,
 'window': 10,
 'nicely': 10,
 'knowledgeable': 9,
 'accommodating': 9,
 'recently': 9,
 'book': 9,
 'called': 9,
 'greeted': 9,
 'open': 9,
 'gave': 9,
 'zone': 9,
 'foot': 9,
 'air': 9,
 'work': 9,
 'surprise': 9,
 'upon': 9,
 'friends': 9,
 'deluxe': 9,
 'everywhere': 9,
 'start': 9,
 'different': 9,
 'welcome': 9,
 'lovely': 9,
 'ca': 9,
 'cereals': 9,
 'boiled': 9,
 'offered': 9,
 'appointed': 9,
 'victoria': 9,
 'top': 9,
 'balcony': 9,
 'questions': 9,
 'safe': 9,
 'coming': 9,
 'pay': 9,
 'main': 8,
 'super': 8,
 'store': 8,
 'furniture': 8,
 'rather': 8,
 'years': 8,
 'wireless': 8,
 'access': 8,
 'thought': 8,
 'traveling': 8,
 'outstanding': 8,
 'transit': 8,
 'looked': 8,
 'double': 8,
 'pillows': 8,
 'chose': 8,
 'dinner': 8,
 'pretty': 8,
 'four': 8,
 'perfectly': 8,
 'selection': 8,
 'tv': 8,
 'daily': 8,
 'middle': 8,
 'terminal': 8,
 'worked': 8,
 'monorail': 8,
 'anything': 8,
 'someone': 8,
 'freeway': 8,
 'heart': 8,
 'buses': 8,
 'concierge': 8,
 'waiting': 8,
 'toast': 7,
 'period': 7,
 'compared': 7,
 'look': 7,
 'might': 7,
 'problem': 7,
 'pubs': 7,
 'provides': 7,
 'catch': 7,
 'beyond': 7,
 'quality': 7,
 'bags': 7,
 'ate': 7,
 'drive': 7,
 'bay': 7,
 'sleep': 7,
 'recommended': 7,
 'juice': 7,
 'making': 7,
 'arrival': 7,
 'tub': 7,
 'reviews': 7,
 'checking': 7,
 'needs': 7,
 'charming': 7,
 'deal': 7,
 'muffins': 7,
 'real': 7,
 'fish': 7,
 'limited': 7,
 'usual': 7,
 'rest': 7,
 'larger': 7,
 'else': 7,
 'makes': 7,
 'provided': 7,
 'professional': 7,
 'courteous': 7,
 'impressed': 7,
 'qwest': 7,
 'camera': 7,
 'meal': 6,
 'reasonably': 6,
 'priced': 6,
 'wall': 6,
 'fairly': 6,
 'updated': 6,
 'property': 6,
 'pub': 6,
 'original': 6,
 'atmosphere': 6,
 'ambiance': 6,
 'wo': 6,
 'spotless': 6,
 'online': 6,
 'card': 6,
 'paid': 6,
 'huge': 6,
 'cost': 6,
 'quick': 6,
 'towels': 6,
 'negative': 6,
 'maybe': 6,
 'windows': 6,
 'busy': 6,
 'received': 6,
 'spot': 6,
 'eat': 6,
 'touch': 6,
 'seem': 6,
 'fare': 6,
 'yesler': 6,
 'offer': 6,
 'expectations': 6,
 'remodeled': 6,
 'turned': 6,
 'highway': 6,
 'eating': 6,
 'visited': 6,
 'baseball': 6,
 'vancouver': 6,
 'secure': 6,
 'warm': 6,
 'customer': 6,
 'seahawks': 6,
 'beautifully': 6,
 'taken': 6,
 'spectacular': 6,
 'seems': 6,
 'past': 6,
 'used': 6,
 'number': 6,
 'try': 6,
 'anyway': 6,
 'maker': 6,
 'proximity': 6,
 'trying': 6,
 'decorated': 6,
 'kept': 6,
 'boutique': 6,
 'served': 6,
 'michael': 6,
 'checkin': 6,
 'bottle': 6,
 'amazing': 6,
 'convention': 6,
 'read': 5,
 'already': 5,
 'completely': 5,
 'renovated': 5,
 'polite': 5,
 'rates': 5,
 'actually': 5,
 'behind': 5,
 'run': 5,
 'sunday': 5,
 'reservations': 5,
 'efficient': 5,
 'ball': 5,
 'stadium': 5,
 'rental': 5,
 'variety': 5,
 'sight': 5,
 'bathrooms': 5,
 'problems': 5,
 'faced': 5,
 'especially': 5,
 'exceptional': 5,
 'keep': 5,
 'elliott': 5,
 'seafood': 5,
 'member': 5,
 'comfy': 5,
 'flight': 5,
 'directly': 5,
 'terrible': 5,
 'uncomfortable': 5,
 'hassle': 5,
 'checkout': 5,
 'road': 5,
 'reception': 5,
 'section': 5,
 'route': 5,
 'positive': 5,
 'cozy': 5,
 'ceilings': 5,
 'request': 5,
 'sound': 5,
 'fellow': 5,
 'bring': 5,
 'heard': 5,
 'tower': 5,
 'uphill': 5,
 'choose': 5,
 'ave': 5,
 'washington': 5,
 'decent': 5,
 'san': 5,
 'bell': 5,
 'slow': 5,
 'august': 5,
 'caught': 5,
 'hear': 5,
 'chinatown': 5,
 'adequate': 5,
 'watch': 5,
 'mariner': 5,
 'ok': 5,
 'treated': 5,
 'knew': 5,
 'vacation': 5,
 'island': 5,
 'returning': 5,
 'fit': 5,
 'mariners': 5,
 'easily': 5,
 'plan': 5,
 'hours': 5,
 'central': 5,
 'trips': 5,
 'chain': 5,
 'alaska': 5,
 'single': 5,
 'sitting': 5,
 'alaskan': 5,
 'system': 5,
 'furnished': 5,
 'starbucks': 5,
 'calls': 5,
 'bar': 5,
 'wish': 5,
 'willing': 5,
 'housekeeping': 5,
 'wait': 5,
 'let': 5,
 'stops': 5,
 'direction': 5,
 'pm': 5,
 'surprised': 5,
 'tried': 5,
 'interior': 5,
 'none': 5,
 'yes': 5,
 'smile': 5,
 'put': 5,
 'somewhere': 5,
 'cold': 5,
 'key': 5,
 'seemed': 5,
 'computer': 5,
 'others': 5,
 'employees': 5,
 'items': 5,
 'whole': 5,
 'tables': 5,
 'heritage': 5,
 'world': 5,
 'opened': 5,
 'international': 5,
 'ship': 5,
 'consider': 5,
 'complaint': 5,
 'somewhat': 5,
 'meals': 5,
 'tours': 5,
 'kind': 5,
 'paying': 5,
 'gem': 5,
 'friend': 5,
 'stairs': 5,
 'thing': 5,
 'personnel': 5,
 'wine': 5,
 'attractive': 4,
 'later': 4,
 'appreciate': 4,
 'rush': 4,
 'parts': 4,
 'headed': 4,
 'cool': 4,
 'transport': 4,
 'romantic': 4,
 'afternoon': 4,
 'move': 4,
 'company': 4,
 'moment': 4,
 'st': 4,
 'tunnel': 4,
 'al': 4,
 'boccalino': 4,
 'feet': 4,
 'opinion': 4,
 'options': 4,
 'mind': 4,
 'disappointed': 4,
 'charge': 4,
 'job': 4,
 'sightseeing': 4,
 'shop': 4,
 'cup': 4,
 'booking': 4,
 'suggestions': 4,
 'thoroughly': 4,
 'hope': 4,
 'pleasure': 4,
 'tourist': 4,
 'instead': 4,
 'west': 4,
 'coast': 4,
 'comfort': 4,
 'reservation': 4,
 'step': 4,
 'attentive': 4,
 'parked': 4,
 'site': 4,
 'finding': 4,
 'conference': 4,
 'pho': 4,
 'pleased': 4,
 'wife': 4,
 'piers': 4,
 'choices': 4,
 'tasty': 4,
 'line': 4,
 'areas': 4,
 'originally': 4,
 'pastries': 4,
 'avenue': 4,
 'exceeded': 4,
 'carpet': 4,
 'handy': 4,
 'complete': 4,
 'apples': 4,
 'satisfied': 4,
 'clerk': 4,
 'games': 4,
 'alone': 4,
 'tired': 4,
 'facilities': 4,
 'spend': 4,
 'francisco': 4,
 'fast': 4,
 'restored': 4,
 'group': 4,
 'bainbridge': 4,
 'wide': 4,
 'discount': 4,
 'except': 4,
 'absolutely': 4,
 'elsewhere': 4,
 'add': 4,
 'activities': 4,
 'totally': 4,
 'seeing': 4,
 'give': 4,
 'father': 4,
 'leisure': 4,
 'week': 4,
 'expect': 4,
 'flat': 4,
 'iron': 4,
 'filled': 4,
 'jazz': 4,
 'must': 4,
 'care': 4,
 'due': 4,
 'wonderfully': 4,
 'possible': 4,
 'fair': 4,
 'life': 4,
 'oh': 4,
 'row': 4,
 'meeting': 4,
 'spots': 4,
 'visits': 4,
 'tiny': 4,
 'weather': 4,
 'forward': 4,
 'probably': 4,
 'furnishings': 4,
 'phone': 4,
 'slept': 4,
 'pull': 4,
 'fitness': 4,
 'fee': 4,
 'provide': 4,
 'aaa': 4,
 'downside': 4,
 'breakfasts': 4,
 'refurbished': 4,
 'throughout': 4,
 'assortment': 4,
 'pool': 4,
 'true': 4,
 'expected': 4,
 'considering': 4,
 'longer': 4,
 'simple': 4,
 'feeling': 4,
 'crowded': 4,
 'centrally': 4,
 'offers': 4,
 'asian': 4,
 'smell': 4,
 'manager': 4,
 'leave': 4,
 'memorable': 4,
 'champagne': 4,
 'closer': 4,
 'stores': 4,
 'major': 4,
 'sports': 4,
 'panhandlers': 4,
 'music': 4,
 'informed': 4,
 'era': 4,
 'cheaper': 4,
 'awesome': 4,
 'done': 4,
 'plaza': 4,
 'returned': 4,
 'delicious': 4,
 'helped': 4,
 'encountered': 4,
 'office': 4,
 'visiting': 4,
 'recommendations': 4,
 'often': 4,
 'hair': 4,
 'buy': 4,
 'north': 4,
 'state': 4,
 'immediately': 4,
 'fiancee': 4,
 'anywhere': 4,
 'wood': 3,
 'staircase': 3,
 'klondike': 3,
 'european': 3,
 'suitable': 3,
 'stays': 3,
 'parkade': 3,
 'floors': 3,
 'young': 3,
 'quieter': 3,
 'prior': 3,
 'advance': 3,
 'ballpark': 3,
 'availability': 3,
 'sights': 3,
 'railway': 3,
 'son': 3,
 'allowed': 3,
 'ask': 3,
 'straight': 3,
 'queen': 3,
 'club': 3,
 'bottled': 3,
 'cookies': 3,
 'bonus': 3,
 'trouble': 3,
 'amount': 3,
 'soon': 3,
 'despite': 3,
 'explore': 3,
 'immaculate': 3,
 'brand': 3,
 'birthday': 3,
 'smallest': 3,
 'architecture': 3,
 'serving': 3,
 'drove': 3,
 'seedy': 3,
 'south': 3,
 'eateries': 3,
 'unfortunately': 3,
 'built': 3,
 'overnight': 3,
 'incredibly': 3,
 'aquarium': 3,
 'managed': 3,
 'noticed': 3,
 'overlooking': 3,
 'man': 3,
 'mall': 3,
 'saving': 3,
 'elevated': 3,
 'case': 3,
 'bath': 3,
 'impression': 3,
 'lighting': 3,
 'stained': 3,
 'port': 3,
 'halls': 3,
 'snacks': 3,
 'website': 3,
 'rolls': 3,
 'definately': 3,
 'sketchy': 3,
 'necessary': 3,
 'persons': 3,
 'planned': 3,
 'welcoming': 3,
 'clipper': 3,
 'mile': 3,
 'accommodations': 3,
 'miles': 3,
 'showed': 3,
 'truly': 3,
 'comes': 3,
 'story': 3,
 'grandmother': 3,
 'shuttle': 3,
 'shaped': 3,
 'affordable': 3,
 'avoid': 3,
 'type': 3,
 'advantage': 3,
 'classic': 3,
 'change': 3,
 'typical': 3,
 'saved': 3,
 'board': 3,
 'promised': 3,
 'discovered': 3,
 'keeping': 3,
 'sized': 3,
 'extensive': 3,
 'simply': 3,
 'average': 3,
 'hang': 3,
 'notice': 3,
 'forgot': 3,
 'sites': 3,
 'ie': 3,
 'ideal': 3,
 'general': 3,
 'call': 3,
 'enjoyable': 3,
 'screen': 3,
 'particularly': 3,
 'machine': 3,
 'harbour': 3,
 'fields': 3,
 'glad': 3,
 'total': 3,
 'relax': 3,
 'picked': 3,
 'trolley': 3,
 'unique': 3,
 'share': 3,
 'pleasantly': 3,
 'entrance': 3,
 'immediate': 3,
 'bother': 3,
 'skid': 3,
 'relatively': 3,
 'acceptable': 3,
 'turn': 3,
 'exterior': 3,
 'viaduct': 3,
 'age': 3,
 'beside': 3,
 'stored': 3,
 'maps': 3,
 'opposite': 3,
 'order': 3,
 'spaces': 3,
 'greatly': 3,
 'empty': 3,
 'pot': 3,
 'onsite': 3,
 'various': 3,
 'kinds': 3,
 'unlike': 3,
 'remember': 3,
 'sleeping': 3,
 'hardboiled': 3,
 'prepared': 3,
 'quest': 3,
 'practically': 3,
 'improve': 3,
 'stocked': 3,
 'curtains': 3,
 'bc': 3,
 'throw': 3,
 'earlier': 3,
 'vagrants': 3,
 'treat': 3,
 'smooth': 3,
 'unit': 3,
 'garden': 3,
 'saloon': 3,
 'airline': 3,
 'using': 3,
 'pricey': 3,
 'via': 3,
 'either': 3,
 'travellers': 3,
 'exceptionally': 3,
 'mike': 3,
 'hop': 3,
 'anniversary': 3,
 'streets': 3,
 'traveled': 3,
 'special': 3,
 'chairs': 3,
 'breads': 3,
 'orleans': 3,
 'buildings': 3,
 'seen': 3,
 'giving': 3,
 'pass': 3,
 'leaving': 3,
 'honest': 3,
 'surrounding': 3,
 'crowne': 3,
 'attending': 3,
 'suite': 3,
 'hour': 3,
 'ones': 3,
 'rating': 3,
 'wedding': 3,
 'sounds': 3,
 'assistance': 3,
 'famous': 3,
 'charged': 3,
 'alley': 3,
 'mention': 3,
 'forget': 3,
 'spray': 3,
 'bottles': 3,
 'met': 3,
 'tourists': 3,
 'smith': 3,
 'cheap': 3,
 'closest': 3,
 'relaxing': 3,
 'taxis': 3,
 'lively': 3,
 'thus': 3,
 'flowers': 3,
 'cameras': 3,
 'galleries': 3,
 'rented': 3,
 'twin': 2,
 'gold': 2,
 ...}

In [209]:
# We will now save the hotWords dictionary as a JSON file
with open('hotWords.json', 'w') as output_file:
    json.dump(hotWords, output_file)

In [210]:
# Let's read our JSON file back in and check to see that it is correct by using a Boolean comparison 
# Note that the items in a dictionary are not supposed to have any order, so using a Boolean comparison simply checks if they have 
# the same content 
# Output should be True if both dictionaries are the same 
with open('hotWords.json') as input_file:
    verify_hotWords = json.load(input_file)
verify_hotWords==hotWords

True

In [211]:
# One final task that will completed is reporting the number of unique content words from each hotel's dictionary
# Note that we already calculated this as uniqueWords in our loop so we will just display it here
# For example, we can see that Hotel ID 72572 has 3046 unique content words
uniqueWords

{'100506': 1395,
 '1217974': 56,
 '150849': 11304,
 '214680': 2775,
 '240124': 1414,
 '2515575': 2122,
 '287670': 3018,
 '550994': 3007,
 '655424': 5,
 '677703': 44,
 '72572': 3046,
 '72579': 2160,
 '72586': 2715,
 '72598': 1137,
 '73393': 1700,
 '73644': 1184,
 '73706': 927,
 '73712': 806,
 '73718': 1500,
 '73727': 1336,
 '73739': 1571,
 '73743': 1016,
 '73751': 654,
 '73757': 880,
 '73760': 1112,
 '73768': 772}